{% extends 'base.html'%}
{%block title %} main page{% endblock%}
{% load static %}




        {% block content %}
        <section class="section lb m3rem">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            خیلی خوشحالیم که با ما همراهی کردی
                            
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}