   {% load static %}
   <!--foter start -->




   <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    
                    <div class="">
                        <h5 class="widget-title">شبکه های اجتماعی من</h5>
                        <div class="">
                            <a href="https://www.instagram.com/hosainy1211" class="">
                                <div class="w-100 justify-content-between"></div>
                                    <img src="{% static 'images/insta.png'%}" alt="" class="img-fluid float-left">
                                
                            </a>

  
                        </div>
                        <div class="">
                            <a href="marketing-single.html" class="">
                                <div class="w-100 justify-content-between"></div>
                                    <img src="{% static 'images/link.png'%}" alt="" class="img-fluid float-left">
 
                                
                            </a>

     

  
                        </div>
                        <div class="">
                            <a href="marketing-single.html" class="">
                                <div class="w-100 justify-content-between"></div>
                                    <img src="{% static 'images/twi.png'%}" alt="" class="img-fluid float-left">
 
                                
                            </a>

     

  
                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title"></h2>
                    <div class="blog-list-widget">
                        <div class="list-group">

                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h5 class="widget-title">پیوند ها</h5>
                    <div class="link-widget">
                        <ul>
                            <li><a href="http://www.chouk.ir/"> کانون فرهنگی چوک</a></li>

                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
            
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->
